<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <script src="/lib/jquery/jquery.js"></script>
    <title>Fixtures Main</title>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#Search').click(function () {
                var fixture = {};
                fixture.league = $('#league').val();
                fixture.date = $('#date').val();
                $.ajax({
                    type: "POST",
                    url: '/Fixtures/getSpecificFixtures',
                    dataType: 'json',
                    success: function () {

                    }
                });
            });
        });
    </script>
</head>
<body>

    <label for="leagues">Choose a league:</label>

    <select name="league" id="league">
        <option value="superleague">Super League</option>
        <option value="premierleague">Premier League</option>
        <option value="englishpremierleague">English Premier League</option>
    </select>

    <input type="date" name="date" value="date"/>


    <input id="Search" type="button" value="Search Fixtures" />
</body>
</html>